<!-- HEADER -->
<header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
        <!-- LOGO -->

        <div fxFlex="100" fxLayoutAlign="center">
            <div fxLayout="row">
                <a class="logo" routerLink="/">
                    <img src="assets/img/logo.svg" alt="" class="logo">
                </a>
            </div>
            <div fxLayout="row">
                <button mat-button routerLink="/astronauta">Astronautas</button>
                <button mat-button routerLink="/planeta">Planetas</button>
            </div>
        </div>


    </div>
</header>
