<div fxFlex fxLayout="column" fxLayoutGap="1.5%" [style]="'padding:1%'">
    <mat-card fxFlex="100%">
        <mat-card-title class="titulo-localizacao" fxLayoutAlign="center">
            Planeta - Listar
        </mat-card-title>

        <form #formPlaneta="ngForm">
            <div fxLayout="row">
                <mat-form-field fxFlex="100">
                    <mat-label>Nome</mat-label>
                    <input matInput
                           name="nome"
                           [(ngModel)]="planeta.nome"
                           #nomeControl="ngModel"
                           maxlength="100"
                           type="text">
                    <mat-error *ngIf="nomeControl.hasError('required')">{{'required' | i18n}}</mat-error>
                </mat-form-field>
            </div>
 


            <div fxLayout="row" fxLayoutAlign="start" fxLayoutGap="10px" [style]="'margin-top:20px'">
                <button mat-raised-button class="button-primary" (click)="pesquisar(planeta)">
                    Pesquisar
                </button>
                <button mat-raised-button fxLayoutAlign="end" routerLink="/planeta/incluir">
                    Incluir
                </button>
            </div>
        </form>

        <div class="example-container" style="margin-top: 20px" *ngIf="planetas.length > 0">
            <table mat-table [dataSource]="planetas">

                <!-- Position Column -->
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef> Id.</th>
                    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="nome">
                    <th mat-header-cell *matHeaderCellDef> Nome</th>
                    <td mat-cell *matCellDef="let element"> {{element.nome}} </td>
                </ng-container>



                <ng-container matColumnDef="acoes">
                    <th mat-header-cell *matHeaderCellDef [style.width.px]="110">
                        <div fxLayout="row" fxLayoutAlign="center center">
                            <span>Ações</span>
                        </div>
                    </th>
                    <td mat-cell *matCellDef="let element">
                        <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="2%">
                            <a mat-mini-fab title="Alterar" [routerLink]="['/planeta', element.id, 'alterar']"
                               class="btn-primary">
                                <mat-icon>edit</mat-icon>
                            </a>

                            <a mat-mini-fab title="Excluir" (click)="excluir(element)" class="btn-danger">
                                <mat-icon>delete</mat-icon>
                            </a>

                        </div>
                    </td>
                </ng-container>


                <tr mat-header-row *matHeaderRowDef="['nome', 'acoes']"></tr>
                <tr mat-row *matRowDef="let row; columns: ['nome', 'acoes'];"></tr>
            </table>
        </div>


    </mat-card>

</div>

