<div fxFlex fxLayout="column" fxLayoutGap="1.5%" [style]="'padding:1%'">
    <mat-card fxFlex="100%">
        <mat-card-title class="titulo-localizacao" fxLayoutAlign="center">
            Astronauta - Incluir
        </mat-card-title>

        <form #formAstronauta="ngForm">
            <div fxLayout="row">
                <mat-form-field fxFlex="100">
                    <mat-label>Nome</mat-label>
                    <input matInput
                           required
                           name="nome"
                           [(ngModel)]="astronauta.nome"
                           #nomeControl="ngModel"
                           maxlength="100"
                           type="text">
                    <mat-error *ngIf="nomeControl.hasError('required')">{{'required' | i18n}}</mat-error>
                </mat-form-field>
            </div>

            <div fxLayout="row">
                <mat-form-field fxFlex="100">
                    <mat-label>E-mail</mat-label>
                    <input matInput
                           required
                           name="email"
                           [(ngModel)]="astronauta.email"
                           #emailControl="ngModel"
                           maxlength="100"
                           type="email">
                    <mat-error *ngIf="emailControl.hasError('required')">{{'required' | i18n}}</mat-error>
                </mat-form-field>
            </div>

            <div fxLayout="row">
                <mat-form-field fxFlex="100">
                    <mat-label>Idade</mat-label>
                    <input matInput
                           required
                           name="idade"
                           [(ngModel)]="astronauta.idade"
                           #idadeControl="ngModel"
                           maxlength="4"
                           type="number">
                    <mat-error *ngIf="idadeControl.hasError('required')">{{'required' | i18n}}</mat-error>
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start" fxLayoutGap="10px" [style]="'margin-top:20px'">
                <button mat-raised-button class="button-primary" (click)="salvar(astronauta, formAstronauta)">Salvar
                </button>
                <button mat-raised-button class="button-second" routerLink="/astronauta/listar">Voltar</button>
            </div>

        </form>

    </mat-card>

</div>

