<div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer">

    <!-- HEADER -->
    <app-header #header></app-header>

    <!-- MAIN -->
    <main #viewContent>
        <router-outlet></router-outlet>
    </main>

    <!-- FOOTER -->
    <app-footer></app-footer>
</div>
