<div fxFlex fxLayout="column" fxLayoutGap="1.5%" [style]="'padding:1%'">
    <mat-card fxFlex="100%">
        <mat-card-title class="titulo-localizacao" fxLayoutAlign="center">
            Planeta - Incluir
        </mat-card-title>

        <form #formPlaneta="ngForm">
            <div fxLayout="row">
                <mat-form-field fxFlex="100">
                    <mat-label>Nome</mat-label>
                    <input matInput
                           required
                           name="nome"
                           [(ngModel)]="planeta.nome"
                           #nomeControl="ngModel"
                           maxlength="100"
                           type="text">
                    <mat-error *ngIf="nomeControl.hasError('required')">{{'required' | i18n}}</mat-error>
                </mat-form-field>
            </div>


            <div fxLayout="row" fxLayoutAlign="start" fxLayoutGap="10px" [style]="'margin-top:20px'">
                <button mat-raised-button class="button-primary" (click)="salvar(planeta, formPlaneta)">Salvar
                </button>
                <button mat-raised-button class="button-second" routerLink="/planeta/listar">Voltar</button>
            </div>

        </form>

    </mat-card>

</div>

