// imports Material
@import "assets/css/material.indigo-pink.min.css";
@import "assets/css/global.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~@angular/material/theming';

@include mat-core();

$primary: mat-palette($mat-grey);
$accent: mat-palette($mat-green);

$app-theme: mat-light-theme($primary, $accent);
@include angular-material-theme($app-theme);

//Geral

.topnav {
  width: 100%;
  height: 100px;
  background: black;
}

.logo {
  max-width: 100px;
  width: 100px;
}

// ----------------- Table -----------------

.mat-table thead {
  background: #626466;
}

tr.mat-header-row {
  height: 35px !important;
  background: #cccccca6;
}

th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
  text-align: center;
}

.mat-paginator-range-label {
  display: none;
}

.example-container {
  height: 400px;
  overflow: auto;
}

table {
  width: 100%;
}

// ----------------- Button -----------------
.btn-danger {
  background: darkred !important;
  color: white !important;
}

.button-primary {
  color: white;
  background-color: #3f51b5 !important;
}

.button-second {
  color: white;
  background-color: #ef4f4c !important;
}

.mat-mini-fab.mat-accent.btn-primary {
  background: #0094AA;
  color: #ffffff;
}

.mat-mini-fab {
  width: 30px !important;
  height: 30px !important;

  .material-icons {
    font-size: 18px;
    line-height: 0.6;
  }
}

.mdl-button {
  font-size: 12px;
}

.mdl-button.mdl-button--raised.btn-danger {
  background-color: #952703;
}

// ----------------- Card -----------------
.mat-card {
  border: 1px solid #cccccc7d;
}

.mat-card-title {
  font-size: 1.5rem;
}

h1 a, h1 a:hover {
  font-size: 2rem;
  text-decoration: none;
  color: #FFF;
}

.mat-card-ferimentos-titulo {
  display: inline-table !important;
}

// ----------------- Form -----------------

.mat-label {
  color: rgba(0, 0, 0, .54);
}

.mat-input-element:disabled {
  color: #626466;
}

.mat-error-selection {
  font-size: 75%;
  font-weight: 400;
  line-height: 1.125;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-placeholder-required.text-red {
  color: #f44336;
}

// ----------------- Margin -----------------

.mat-mb-15-px {
  margin-bottom: 15px;
}

// ----------------- Buttom -----------------

div .mat-card-small {
  padding: 4px 16px;
}

// ----------------- Radio -----------------
.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}

mat-card img {
  width: auto !important;
  height: auto !important;
}

.msg-error {
  font-size: 75%;
  color: red;
  margin-top: -20px;
}

//------------------- multiselect --------------------

multi-select {
  margin-bottom: 0 !important;
}


//----------------------------Tabela Primeng responsive
// Table
body {


  .ui-table {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 14px;
    text-decoration: none;

    .ui-table-caption {
      border-left: 0px;
      border-right: 0px;
    }

    .ui-table-tbody > tr > td {
      //border-left: 0px;
      border-right: 0px;
      word-wrap: break-word;
    }

    .ui-table-thead > tr > th {
      border-left: 0px;
      border-right: 0px;
      font-weight: 600;
      height: 56px;
      color: #ffffff;
    }

    .ui-sortable-column.ui-state-highlight {
      background-color: #e0e0e0;
      color: #333333;
    }

    p-sorticon {
      vertical-align: inherit;
    }

    .ui-sortable-column.ui-state-highlight,
    .ui-sortable-column:not(.ui-state-highlight):hover {
      background-color: #e0e0e085;
      color: #333333;
    }

    .ui-sortable-column.ui-state-highlight .ui-sortable-column-icon {
      color: #333333;
    }

    .ui-sortable-column .ui-sortable-column-icon {
      color: #6c757d;
    }

    .ui-paginator {
      border-left: 0px;
      border-right: 0px;

      .ui-paginator-pages .ui-paginator-page.ui-state-active {
        border-color: #c8c8c8;
        border-style: solid;
        border-left-width: 1px;
        border-right-width: 1px;
        background-color: #626466;
        color: #fff;
      }
    }

    .pi.ui-sortable-column-icon {
      font-size: 0.8em;
    }

    td {
      font-weight: 400;
    }

    td:last-child i {
      margin: 0 3px;
      font-size: 17px;
    }

    .ui-widget {
      font-family: inherit;
      font-size: inherit;
    }
  }
}

.bg-green.ui-table {
  background-color: #626466;

  .ui-table-caption {
    background-color: #626466;
    border-top: 0;
  }

  thead > tr > th {
    background-color: #626466;
    vertical-align: bottom;
    text-align: left;
    padding-left: 24px;
    padding-bottom: 0px;
  }

  tbody > tr:nth-child(even) {
    background-color: #fff;
  }

  tbody > tr:hover {
    background-color: #eee;
  }

  tbody > tr > td {
    //border-top: 5px solid #626466;
    border-bottom: 0;
    //padding-left: 24px;
  }

  .ui-paginator {
    border-bottom: 0;
    background-color: #ffffff;
    text-align: right;
    border-top: 1px solid #c8c8c8;
    padding-top: 15px;
  }

  .ui-paginator > .ui-paginator-first, .ui-paginator > .ui-paginator-first:hover {
    color: transparent !important;
    background-color: #ffffff !important;
    opacity: 50%;
  }

  .ui-paginator > .ui-paginator-prev, .ui-paginator > .ui-paginator-prev:hover {
    color: transparent !important;
    background-color: #ffffff !important;
    opacity: 50%;
  }

  .ui-paginator > .ui-paginator-next, .ui-paginator > .ui-paginator-next:hover {
    color: transparent !important;
    background-color: #ffffff !important;
    opacity: 50%;
  }

  .ui-paginator > .ui-paginator-last, .ui-paginator > .ui-paginator-last:hover {
    color: transparent !important;
    background-color: #ffffff !important;
    opacity: 50%;
  }

  .ui-paginator-element.ui-state-disabled {
    opacity: 20%;
  }


}

/* primeng ptable personalização tamanho para tablet */

@media screen and (max-width: 1255px) {
  .ui-table-responsive .ui-table-thead > tr > th, .ui-table-responsive .ui-table-tfoot > tr > td {
    display: none !important
  }

  .ui-table-responsive colgroup {
    display: none !important
  }

  .ui-table-responsive .ui-table-tbody > tr > td {
    text-align: left;
    display: block;
    border: 0 none;
    width: 100% !important;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    clear: left
  }

  .ui-table-responsive .ui-table-tbody > tr > td .ui-column-title {
    padding: .4em;
    min-width: 30%;
    display: inline-block;
    margin: -.4em 1em -.4em -.4em;
    font-weight: bold
  }
  .ui-table-tbody > tr > td {
    //border-left: 0px;
    border: 0px !important;
    word-wrap: break-word;
  }
  .ui-table-tbody > tr {
    //border-left: 0px;
    border-bottom: 1px solid #333333 !important;
    word-wrap: break-word;
  }
}

.bg-green {
  background-color: #626466;
}

.form-section {
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  position: relative;
  color: #626466;
  z-index: 1;

  &:before {
    border-top: 2px solid #d5dede;
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
  }

  span {
    background: #626466;
    padding: 0 5px;
  }
}

// wordcout


.historico-word-count__controls {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.historico-word-count__chart {
  margin-right: 1em;
}


.historico-word-count__words {
  flex-grow: 1;
  opacity: .5;
}


.mdl-data-table td {
  border-right: 1px solid rgba(0, 0, 0, .12);
  white-space: normal;
}

td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type, th.mat-header-cell:last-of-type {
  padding-right: 5px !important;
}

td.mat-cell, td.mat-footer-cell, th.mat-header-cell {
  border-bottom-width: 0px !important;
  padding-left: 3px !important;
  text-align: center !important;
}


.titulo-tabela-responsiva {
  font-weight: bold;
  text-align: right;
  opacity: 0.7;
}

.remove-border-top {
  border-top-width: 0px !important;
}

.text-left {
  text-align: left;
}
